<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'chats' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        <%= t(".welcome_to_chat") %>
      </h4>
      <p>
        <%= t(".chat_instruction") %>
      </p>
    </div>
    <%= form_for :search, url: search_chats_path, method: :get do |form| %>
       <div style="display: flex;">
         <%= form.text_field :query, class: "form-control string required", value: params[:search].presence && params[:search][:query] %>
         <button class="btn btn-primary" style="margin-left: 10px;">Search</button>
      </div>
    <% end %>
    <% unless @messages.nil? %>
      <p>
      </p>
      <% if @messages.empty? %>
        <h5>No messages found matching your query: <%= params[:search][:query] %></h5>
      <% else %>
      <h5>Search results:</h5>
      <table style="width: 100%;">
        <thead>
          <tr>
            <th>User</th>
            <th>Message</th>
            <th>Chat</th>
            <th>When</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @messages.each do |message| %>
          <tr>
            <td><%= message.username %></td>
            <td><%= message.message %></td>
            <td><%= message.chatname %></td>
            <td><%= message.created_at %></td>
            <td><%= link_to 'View', chat_path(message.chat_id) %></td>
          </tr>
          <% end %>
        <tbody>
      </table>
      <% end %>
    <% end %>
  </div>
</div>
