<h2><%= t(".sign_in") %></h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "card", style: "padding: 20px" }) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(".sign_in"), class: 'btn btn-primary' %>
  </div>

  <%= link_to('/auth/facebook', {:class => "btn btn-primary"}) do %>
    Facebook OAuth
  <%- end %>
  <%= link_to('/auth/google_oauth2', {:class => "btn btn-primary"}) do %>
    Google OAuth
  <%- end %>
  <%= link_to('/auth/twitter', {:class => "btn btn-primary"}) do %>
    Twitter OAuth
  <%- end %>
  <%= link_to('/auth/vkontakte', {:class => "btn btn-primary"}) do %>
    Vkontakte OAuth
  <%- end %>
  <%= link_to('/auth/github', {:class => "btn btn-primary"}) do %>
    Github OAuth
  <%- end %>

<% end %>

<%= render "devise/shared/links" %>
